<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
    <path d="M12 4 Q5 4 5 12 Q5 19 12 20"/>
    <path d="M12 4 Q19 4 19 12 Q19 19 12 20"/>
    <path d="M7 8 Q5 7 4 9"/>
    <path d="M7 12 Q5 12 4 14"/>
    <path d="M9 17 Q7 17 6 19"/>
    <path d="M17 8 Q19 7 20 9"/>
    <path d="M17 12 Q19 12 20 14"/>
    <path d="M15 17 Q17 17 18 19"/>
    <path d="M10 21 L12 19 L14 21"/>
</svg>
